{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>NameUrl</th>
                <th>Products</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'nameUrl': category.nameUrl }) }}">{{ category.name }}</a></td>
                <td><a href="{{ path('category_show', { 'nameUrl': category.nameUrl }) }}">{{ category.nameUrl }}</a></td>
                <td>
                    {% for product in category.products %}
                        {{ product.name }}
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'nameUrl': category.nameUrl }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('category_edit', { 'nameUrl': category.nameUrl }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
