{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
            <tr>
                <th>LINK</th>
                <th>Name</th>
                <th>Nameurl</th>
                <th>Description</th>
                <th>Price</th>
                <th>ProductQuantity</th>
                <th>Category</th>
                <th>Images</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'nameUrl': product.nameUrl }) }}">{{ product.nameUrl }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.nameUrl }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.productQuantity }}</td>
                <td>{{ product.category }}</td>
                <td>
                    {% for image in product.images %}
                        {{ image }}
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'nameUrl': product.nameUrl }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'nameUrl': product.nameUrl }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
{% endblock %}
